body{
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
    background-attachment:fixed;
    padding: 0;
    margin: 0;
}


header{
    padding-top:20px;
    padding-bottom: 20px;
    
    width: 100%;
    background-color: #f8f9fa;
    opacity: 1;
    
    
}

nav{    
    padding:auto 1px;
    opacity: 0.9;    
}
    
nav ul{
    padding-left: auto;
    padding-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

nav li{
    text-align: center;
    
    padding: 2px 25px;
    text-transform: uppercase;
   
    margin: 1px;
}
.logo1{
    min-height: 650px;    
    background-color: rgba(0, 0, 0,0.6);
    
}
.logo{
    display: flex;
    align-items: center
}
#about{
    background-color: snow;
    
    padding: 0;
    width:100%;
    
    opacity: 0.9;
}

.content{
    font-size: 32pt;
    text-transform: uppercase;
}

footer{
    min-height: 150px;
    background-color: rgba(0, 0, 0,0.9);
}

.op-09{
    opacity: 0.9;
}

.map *{
    padding-right: 10;
    padding-LEFT: auto;
    margin-left: 0;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 800px) {
    .map{
        display: none;
    }
}
    


.bg-op-white{
    background-color: rgba(255, 250, 250, 0.9);
}

.bg-op-dark{
    background-color: rgba(45, 46, 46, 0.9);
}

.rot{
    background: rgba(255, 250, 250, 1);
    position: relative;
    width: 640px;
    padding: 20px;

}

h2{
    text-align: center;
}


.callback{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.contact-form *{
    border-radius: 5px;
    opacity: 0.7;
    margin-top: 10px;

    width: 100%;
}

.providers  img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid rgb(85, 85, 85);
}
.providers h2{
    padding-bottom: 40px
}

.provider-logo{
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
}

.providers {
    padding-bottom:100px;
    padding-top: 1px;
    min-height: content;
}

.provider-catalog{
    text-align: center;
    margin: 20px auto;
    
    width: fit-content;
    
    
    font-size: 16pt;
    box-sizing: border-box;

    
}

.provider-catalog a{
    text-decoration: none;
}

.provider-catalog a span{
   
    padding: 20px 20px;
    
}

.providers-block{
    border: 2px solid #000000;
    background-color: rgb(250, 250, 250);
    padding: 10px 10px;
    border-radius: 20px;
}

.project{
    
    padding-top: 40px;
}

.callback{
    padding: 10px auto;
}

.button-callback{
    margin: 40px auto;
    padding: 20px;
    width: max-content;
    border: 5px solid black;
    border-radius: 5px;
    
}

.callback span{
    margin: 10px;
}

.provider-discription{
    font-size: 20px;
}


h3{
    font-size: 20pt;
    padding-bottom: 10px;
}

footer{
    opacity: 0.9;
}

.call{
    opacity: 1;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    flex-direction: column;
    justify-content:start;
    align-items: flex-end;
    animation-duration: 500ms;
    animation-name: opacityUp;
    
}

@keyframes opacityUp {
    from{
        background-color: rgba(0, 0, 0, 0.0);
        
    }
    to{
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
    }
    
}

@keyframes opacityDown {
    from{
        opacity: 1;
    }
    to{
       opacity: 0;
    }
    
}

.call_inner{
    border-radius: 5px;
    position: relative;
    padding: 30px;
    width: fit-content;
    background-color: white;
    margin: auto;
}

.exit_button{
    position: relative;
    margin: 20px;
    position: absolute;

}

.exit_button img{
    color: #fff;
    
}

.call_button{
    background-color: transparent;
    border: none;
}

.gallery{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery-cell{
    padding: 10px;
    width: 30%;
    text-align: center;
    border:2px solid gray;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 3px 2px 2px rgba(128, 128, 128, 0.664);
}

.gallery-cell img{
    width: 100%;

   
}

.visit tr :last-child{
    padding-left: 20px;
}